<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Supplier Service Portal</title>
  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
  <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
  <a href="/services/checkQuantity">Check current part quantity</a><br/>
  <a href="/services/updateQuantity">Update part quantity</a><br/>
  <a href="/services/newSupplier">Add new supplier</a><br/>
</div>
</body>
</html>