<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Part On Hand</title>
  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
  <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
  <h1>Update Part Quantity</h1>
  <p>
    <a th:href="@{/services/supplierPortal}">Return to Supplier Portal</a><br/>
    <a th:href="@{/}">Return to main</a>
  </p>




</div>
</body>
</html>