<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Part On Hand</title>
  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
  <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
  <h1>Update Part Quantity</h1>
  <p>
    <a th:href="@{/services/supplierPortal}">Return to Supplier Portal</a><br/>
    <a th:href="@{/}">Return to main</a>
  </p>
  <div th:object="${partCommand}">
    <form action="#" th:action="@{/services/updateQuantity}" method="post">
      Enter the part ID: <input type="number" th:field="*{partId}" step="1" min="0" required="required"/><br/>
      Enter the new quantity: <input type="number" th:field="*{quantity}" step="1" min="0" max="100" required="required"/>
      <input type="submit" value="Update Quantity"/><input type="reset" value="Reset"/>
    </form>
    <div>
      Current status: <span th:text="*{status}"></span>
    </div>
  </div>



</div>
</body>
</html>