<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Resupply Order</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Select the parts to order</h1>
    <div th:if="${partsFilteredBySupplier}">
        <table>
            <tr>
                <th>Category</th>
                <th>Part ID</th>
                <th>Name</th>
                <th>Supplier</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Quantity in Stock</th>
                <th>Order</th>
            </tr>

            <tr th:each="entry : ${partOrderMap}">
                <form id="addPartForm" action="#" th:action="@{/orders/resupply/selectParts}" th:object="${partCommand}" method="post">
                <td th:text="${entry.key.category}">Category</td>
                <td th:text="${entry.key.partID}">ID</td>
                <td th:text="${entry.key.name}">Name</td>
                <td th:text="${entry.key.supplier.companyName}">Supplier</td>
                <td th:text="${entry.key.description}">Description</td>
                <td th:text="${entry.key.pricePerUnit}">Unit Price</td>
                <td th:text="${entry.key.quantityOnHand}">Quantity in Stock</td>
                <td>
                    <input type="number" min="0" step="1"
                           th:value="${entry.value}"
                           name="quantity"/>
                    <input type="hidden"
                           th:value="${entry.key.partID}"
                           name="id"/>
                </td>
                <td><input type="submit" value="Update Order"/></td>
                </form>
            </tr>
        </table>
        <div>
            <form id="cartOptions" action="#" th:action="@{/orders/resupply/handleCart}" th:object="${cartCommand}" method="post">
            <button type="submit" name="action" value="confirmOrder">Confirm Order</button>
            <button type="submit" name="action" value="cancelOrder">Cancel Order</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>