<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Resupply Order</title>
</head>
<body>
    <h1>Select the parts to order</h1>
    <div th:if="${partsFilteredBySupplier}">
        <table>
            <tr>
                <th>Category</th>
                <th>Part ID</th>
                <th>Name</th>
                <th>Supplier</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Quantity in Stock</th>
                <th>Order</th>
            </tr>
            <tr th:each="part : ${partsFilteredBySupplier}">
                <td th:text="${part.category}">Category</td>
                <td th:text="${part.partID}">ID</td>
                <td th:text="${part.name}">Name</td>
                <td th:text="${part.supplier.companyName}">Supplier</td>
                <td th:text="${part.description}">Description</td>
                <td th:text="${part.pricePerUnit}">Unit Price</td>
                <td th:text="${part.quantityOnHand}">Quantity in Stock</td>
                <!--For adding a part to an order-->
                <td>
                <form id="addPartForm" action="#" th:action="@{/orders/resupply/selectParts}" th:object="${partCommand}" method="post">
                    <input type="number" min="0" step="1" th:field="*{quantity}"/>
                    <input type="hidden" th:value="${part.partID}" name="id"/>
                    <input type="submit" value="Add to cart"/>
                </form>
                </td>
            </tr>
        </table>
        <div>
            <p>
                Order Notes<br/>
                <form id="cartOptions" action="#" th:action="@{/orders/resupply/handleCart}" th:object="${cartCommand}" method="post">
                <textarea th:field="*{notes}" value="${getOrderNotes}">Order Notes</textarea><br/>
                Employee ID: <input type="text" th:field="*{employeeID}"/><br/>
                <button type="submit" name="action" value="checkout">Checkout</button>
                <button type="submit" name="action" value="emptyCart">Cancel Order</button>
                </form>
            </p>
        </div>
    </div>
</body>
</html>