<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Auto Parts Store</title>
  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
  <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
  <a href="/orders/resupply/startResupplyOrder" target="_blank">Begin a resupply order</a><br/>
  <a href="/orders/customer/startCustomerOrder" target="_blank">Begin a customer order</a><br/>
  <a href="/inventory/inventoryList" target="_blank">View inventory list</a><br/>
  <a href="/employees/employeeList" target="_blank">View Employee list</a><br/>
  <a href="/suppliers/supplierList" target="_blank">View Supplier List</a><br/>
  <h2><a href="service-consumer" target="_blank">Supplier Portal</a></h2>
</div>
</body>
</html>