<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Demo</title>
</head>
<head>
    <meta charset="UTF-8">
    <title>Part List</title>
</head>
<body>
<h3>Part List</h3>
<div th:if="${parts}">
    <table>
        <tr>
            <th>Part ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Vendor</th>
            <th>Unit Price</th>
            <th>Quantity in Stock</th>
        </tr>
        <tr th:each="part : ${parts}">
            <td th:text="${part.partID}">ID</td>
            <td th:text="${part.name}">Name</td>
            <td th:text="${part.category}">Category</td>
            <td th:text="${part.description}">Description</td>
            <td th:text="${part.supplier.companyName}">Vendor</td>
            <td th:text="${part.pricePerUnit}">Unit Price</td>
            <td th:text="${part.quantityOnHand}">Quantity in Stock</td>
        </tr>
    </table>
</div>


</body>
</html>